<div class="help-center text pr-2 row p-0 m-0 align-items-center text-navi navbar-item page_link">
  <a href="#startup"><span class="">Melis Spa</span></a>
</div>

<div class="help-center text pr-2 row p-0 m-0 align-items-center text-navi navbar-item page_link">
  <a href="#vision"><span class="">Vision</span></a>
</div>

<div class="text pr-2 row p-0 m-0 align-items-center text-navi navbar-item page_link">
  <a href="#team"><span class="">Human</span></a>
</div>

<div class="text pr-2 row p-0 m-0 align-items-center text-navi navbar-item page_link">
  <a href="#community"><span class="">Community</span></a>
</div>

<div class="text pr-2 row p-0 m-0 align-items-center text-navi navbar-item page_link">
  <a href="#gallery_image"><span class="">Images</span></a>
</div>

<div class=" text pr-2 row p-0 m-0 align-items-center text-navi navbar-item page_link">
  <a href="#gallery_video"><span class="">Video</span></a>
</div>