<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Melis beauté</title>
	<link rel="stylesheet" href="fonts/fontawesome-5.15.1/css/all.min.css" />
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="plugins/nprogress/nprogress.css" />
	<!-- home -->
	<link rel="stylesheet" href="plugins/jssor_slider/jssor_script.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
	
	<link rel="stylesheet" href="plugins/timeline_slider/timeline_slider.css" />
	<link rel="stylesheet" href="plugins/owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="plugins/owlcarousel/assets/owl.theme.default.min.css">
	<!-- Daterange picker -->
	<link rel="stylesheet" href="../themes/plugins/daterangepicker/daterangepicker.css" />
	<link rel="stylesheet" href="../themes/plugins/toastr/toastr.min.css" />
	<!-- end home -->
	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/index.css" />
	<link rel="stylesheet" href="css/product.css" />
	<link rel="stylesheet" href="css/search.css" />
</head>

<body>
	<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=412157766037551&autoLogAppEvents=1" nonce="UqPJBmof"></script>
	<main>
		<a id="scroll-top" style="display: none;"><i class="fas fa-arrow-up icon-scroll-up"></i></a>
		<!-- top -->
		<div class="infomation text-brown position-relative pt-3 m-0">
			<div class="row">
				<div class="col-md-4">
					<div class="phone">
						<div class="text d-flex align-items-center">
							<div>
								<button class="btn bg-transparent border-none text-brown icon-phone"><i class="fas fa-phone-volume"></i></button>&nbsp;
							</div>
							<div class="pt-2">
								<span>03939.18686 | 08383.18989</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="col-12">
						<div class="row align-items-end">
							<div class="time col-lg-4 pb-2 text-center">GIỜ MỞ CỬA 8:00AM - 8:00PM</div>
							<div class="search col-lg-4">
								<form method="post" class="form-group mb-2 position-relative">
									<i class="fas fa-search position-absolute icon-search"></i>
									<input type="text" class="form-control bg-transparent text-brown search" placeholder="Tìm kiếm | Nhập từ khóa">
								</form>
							</div>
							<div class="col-lg-4 pl-4">
								<div class="row float-right">
									<div class="money mx-3 mb-2 position-relative">
										<span class="number font-weight-bold">0</span> <span>VNĐ</span>
										<span class="h3"><i class="fas fa-shopping-bag"></i></span>
										<span class="badge badge-light position-absolute border-radius-50 bg-brown">0</span>
									</div>
									<div class="mx-3 mb-2">
										<div class="btn-group">
											<a class="bg-transparent border-none text-brown font-weight-bold p-0 language"><img src="img/vi.png" alt="Tiếng Việt" /></a>
											<div class="dropdown-menu dropdown-menu-right" id="menu_language" style="right: 0; left: auto;">
												<a class="dropdown-item" href="#"><img src="img/vi.png" alt="Tiếng Việt" /> Tiếng Việt</a>
												<a class="dropdown-item" href="#"><img src="img/en.png" alt="English" /> English</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- navbar -->
		<div class="control_navbar">
			<div class="navbar p-0">
				<nav class="navbar navbar-light navbar-expand-lg nav-bg-custorm w-100">
					<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-center position-relative" id="navbarCollapse">
						<ul class="navbar-nav nav font-weight-bold align-items-center py-1 position-static">
							<li class="lg">
								<img class="mom" src="img/melismom.png" alt="">
							</li>
							<li class="navbar-item">
								<a href="#" class="nav-link">HOME</a>
							</li>
							<li class="navbar-item m-1 text-nowrap">
								<a href="#" class="nav-link">GIỚI THIỆU</a>
							</li>
							<li class="navbar-item m-1 text-nowrap">
								<a href="#" class="nav-link">DỊCH VỤ</a>
							</li>
							<li class="navbar-item active m-1 text-nowrap queen-nature dropdown position-static text-center">
								<a href="#" class="dropdown-toggle queen-nature nav-link" id="navbarDropdownMenuQueenNature" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">QUEEN NATURE</a>
								<ul class="submenu m-auto dropdown-menu p-0" aria-labelledby="navbarDropdownMenuQueenNature">
									<div id="queen-nature" class="row p-0 m-0 submenu-queen-nature">
										<div class="col-12 m-0 p-0 py-2 bg-brown-opacity-50">
											<div class="m-auto d-flex row p-0 m-0">
												<div class="pregnant-mother col-lg-6 col-xl-3 pr-0">
													<div class="title">
														<p>CHO MẸ BẦU</p>
													</div>
													<div class="menu">
														<a class="sub-nav-link active" href="#1"><i class="fas fa-chevron-right small"></i> Trắng Hồng Da Mặt, Ngừa & Trị Mụn Nám nams nasm</a>
														<a class="sub-nav-link" href="#2"><i class="fas fa-chevron-right small"></i> Ngũ Cốc Bầu và Vitamin Bà Bầu</a>
														<a class="sub-nav-link" href="#3"><i class="fas fa-chevron-right small"></i> Hạt Siêu Dinh Dưỡng</a>
														<a class="sub-nav-link" href="#4"><i class="fas fa-chevron-right small"></i> Ngừa và Trị Thâm Rạn Mẹ Bầu</a>
													</div>
												</div>
												<div class="postpartum-mother col-lg-6 col-xl-3 pr-0">
													<div class="title">
														<p>CHO MẸ SAU SINH</p>
													</div>
													<div class="menu">
														<a class="sub-nav-link" href="#"><i class="fas fa-chevron-right small"></i>&nbsp;Trắng Hồng Da Mặt, Ngừa & Trị Mụn Nám</a>
														<a class="sub-nav-link" href="#"><i class="fas fa-chevron-right small"></i>&nbsp;Ngũ Cốc Bầu và Vitamin Bà Bầu</a>
														<a class="sub-nav-link" href="#"><i class="fas fa-chevron-right small"></i>&nbsp;Hạt Siêu Dinh Dưỡng</a>
														<a class="sub-nav-link" href="#"><i class="fas fa-chevron-right small"></i>&nbsp;Ngừa và Trị Thâm Rạn Mẹ Bầu</a>
													</div>
												</div>
												<div class="mother-often col-lg-6 col-xl-3 pr-0">
													<div class="title">
														<p>CHO MẸ THƯỜNG</p>
													</div>
													<div class="menu">
														<a class="sub-nav-link" href="#"><i class="fas fa-chevron-right small"></i>&nbsp;Trắng Hồng Da Mặt, Ngừa & Trị Mụn Nám</a>
														<a class="sub-nav-link" href="#"><i class="fas fa-chevron-right small"></i>&nbsp;Ngũ Cốc Bầu và Vitamin Bà Bầu</a>
														<a class="sub-nav-link" href="#"><i class="fas fa-chevron-right small"></i>&nbsp;Hạt Siêu Dinh Dưỡng</a>
														<a class="sub-nav-link" href="#"><i class="fas fa-chevron-right small"></i>&nbsp;Ngừa và Trị Thâm Rạn Mẹ Bầu</a>
													</div>
												</div>
												<div class="baby col-lg-6 col-xl-3 pr-0">
													<div class="title">
														<p>CHO BÉ</p>
													</div>
													<div class="menu">
														<a class="sub-nav-link" href="#"><i class="fas fa-chevron-right small"></i>&nbsp;Trắng Hồng Da Mặt, Ngừa & Trị Mụn Nám</a>
														<a class="sub-nav-link" href="#"><i class="fas fa-chevron-right small"></i>&nbsp;Ngũ Cốc Bầu và Vitamin Bà Bầu</a>
														<a class="sub-nav-link" href="#"><i class="fas fa-chevron-right small"></i>&nbsp;Hạt Siêu Dinh Dưỡng</a>
														<a class="sub-nav-link" href="#"><i class="fas fa-chevron-right small"></i>&nbsp;Ngừa và Trị Thâm Rạn Mẹ Bầu</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</ul>
							</li>
							<li class="navbar-item m-1 text-nowrap">
								<a href="#" class="nav-link">NHƯỢNG QUYÊN</a>
							</li>
							<li class="navbar-item m-1 text-nowrap">
								<a href="#" class="nav-link">REVIEW</a>
							</li>
							<li class="navbar-item m-1 text-nowrap">
								<a href="#" class="nav-link">KIẾN THỨC</a>
							</li>
							<li class="navbar-item m-1 text-nowrap">
								<a href="#" class="nav-link">TIN TỨC</a>
							</li>
							<li class="lg">
								<img class="beaute" src="img/melisbeaute.png" alt="">
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- content main -->
		<section class="content_main">
			<div class="subcontent bglime">
				<div class="row">
					<div class="col-md-12 p-2 text-right text-uppercase">
						<ul class="bread">
							<li><a href="#"><i class="fas fa-home"></i> Trang chủ</a></li>
							<li>></li>
							<li>Kết quả tìm kiếm</li>
						</ul>
					</div>
					<!-- sidebar left -->
					<div class="col-md-3">
						<ul class="sidebar">
							<li>
								<p><i class="fas fa-caret-down"></i> Cho mẹ bầu</p>
								<ul>
									<li><a href="#" class="active">Trắng hồng da mặt, ngừa & trị mụn nám</a></li>
									<li><a href="#">Ngũ cốc bầu và Vitamin bà bầu</a></li>
									<li><a href="#">Hạt siêu dinh dưỡng</a></li>
									<li><a href="#">Ngừa và trị thâm rạn mẹ bầu</a></li>
								</ul>
							</li>
							<li>
								<p><i class="fas fa-caret-right"></i> Cho mẹ sau sinh</p>
								<ul>
									<li><a href="#">Trắng hồng da mặt, ngừa & trị mụn nám</a></li>
									<li><a href="#">Ngũ cốc bầu và Vitamin bà bầu</a></li>
									<li><a href="#">Hạt siêu dinh dưỡng</a></li>
									<li><a href="#">Ngừa và trị thâm rạn mẹ bầu</a></li>
								</ul>
							</li>
							<li>
								<p><i class="fas fa-caret-right"></i> Cho mẹ thường</p>
								<ul>
									<li><a href="#">Trắng hồng da mặt, ngừa & trị mụn nám</a></li>
									<li><a href="#">Ngũ cốc bầu và Vitamin bà bầu</a></li>
									<li><a href="#">Hạt siêu dinh dưỡng</a></li>
									<li><a href="#">Ngừa và trị thâm rạn mẹ bầu</a></li>
								</ul>
							</li>
							<li>
								<p><i class="fas fa-caret-right"></i> Cho bé</p>
								<ul>
									<li><a href="#">Trắng hồng da mặt, ngừa & trị mụn nám</a></li>
									<li><a href="#">Ngũ cốc bầu và Vitamin bà bầu</a></li>
									<li><a href="#">Hạt siêu dinh dưỡng</a></li>
									<li><a href="#">Ngừa và trị thâm rạn mẹ bầu</a></li>
								</ul>
							</li>
							<li>
								<p><i class="fas fa-caret-right"></i> Cho bộ quà tặng</p>
								<ul>
									<li><a href="#">Trắng hồng da mặt, ngừa & trị mụn nám</a></li>
									<li><a href="#">Ngũ cốc bầu và Vitamin bà bầu</a></li>
									<li><a href="#">Hạt siêu dinh dưỡng</a></li>
									<li><a href="#">Ngừa và trị thâm rạn mẹ bầu</a></li>
								</ul>
							</li>
						</ul>
						<div class="mb-4">
							<div class="eachsidebar cskh">
								<a href="#">Cảm nhận khách hàng</a>
							</div>
							<div class="diverEachsidebar"></div>
							<div class="eachsidebar rvnnt">
								<a href="#">Review người nổi tiếng</a>
							</div>
							<div class="diverEachsidebar"></div>
							<div class="eachsidebar km">
								<a href="#">Khuyến mại</a>
							</div>
							<div class="diverEachsidebar"></div>
							<div class="eachsidebar tvsm">
								<a href="#">Tư vấn sữa mẹ</a>
							</div>
							<div class="diverEachsidebar"></div>
							<div class="eachsidebar tvad">
								<a href="#">Tư vấn ăn dặm</a>
							</div>
							<div class="diverEachsidebar"></div>
							<div class="eachsidebar tvcsb">
								<a href="#">Tư vấn chăm sóc bầu</a>
							</div>
							<div class="diverEachsidebar"></div>
							<div class="eachsidebar tvcsss">
								<a href="#">Tư vấn chăm sóc sau sinh</a>
							</div>
							<div class="diverEachsidebar"></div>
							<div class="eachsidebar tvgbss">
								<a href="#">Tư vấn giảm béo sau sinh</a>
							</div>
							<div class="diverEachsidebar"></div>
							<div class="eachsidebar tvdd">
								<a href="#">Tư vấn dinh dưỡng</a>
							</div>
							<div class="diverEachsidebar"></div>
							<div class="eachsidebar vtmbb">
								<a href="#">Vitamin bà bầu</a>
							</div>
							<div class="diverEachsidebar"></div>
							<div class="eachsidebar tvcsdm">
								<a href="#">Tư vấn chăm sóc da mặt</a>
							</div>
							<div class="diverEachsidebar"></div>
							<div class="eachsidebar tvcsdtt">
								<a href="#">Tư vấn chăm sóc da toàn thân</a>
							</div>
							<div class="diverEachsidebar"></div>
						</div>
					</div>
					<!-- end sidebar left -->
					<div class="col-md-9">
						<div class="row  mr-4">
							<div class="col-md-12 pr-5 text-uppercase">
							  TÌM THẤY <span class="keyword">18</span> KẾT QUẢ VỚI TỪ KHÓA <span class="keyword"> NGŨ CỐC</span>
							  <ul class="search">
								<li><a href="#">mẹ phương thanh hồ cảm nhận sữa về đặc và béo hơn sau khi uống <span class="keyword">ngũ</span> <span class="keyword">cốc</span> lợi sữa queen nature</a></li>
								<li><a href="#">câu chuyện thương hiệu - bột <span class="keyword">ngũ</span> <span class="keyword">cốc</span> 30 hạt queen nature</a></li>
								<li><a href="#">mẹ phương thanh hồ cảm nhận sữa về đặc và béo hơn sau khi uống <span class="keyword">ngũ</span> <span class="keyword">cốc</span> lợi sữa queen nature</a></li>
								<li><a href="#">câu chuyện thương hiệu - bột <span class="keyword">ngũ</span> <span class="keyword">cốc</span> 30 hạt queen nature</a></li>
								<li><a href="#">mẹ phương thanh hồ cảm nhận sữa về đặc và béo hơn sau khi uống <span class="keyword">ngũ</span> <span class="keyword">cốc</span> lợi sữa queen nature</a></li>
								<li><a href="#">câu chuyện thương hiệu - bột <span class="keyword">ngũ</span> <span class="keyword">cốc</span> 30 hạt queen nature</a></li>
								<li><a href="#">mẹ phương thanh hồ cảm nhận sữa về đặc và béo hơn sau khi uống <span class="keyword">ngũ</span> <span class="keyword">cốc</span> lợi sữa queen nature</a></li>
								<li><a href="#">câu chuyện thương hiệu - bột <span class="keyword">ngũ</span> <span class="keyword">cốc</span> 30 hạt queen nature</a></li>
								<li><a href="#">mẹ phương thanh hồ cảm nhận sữa về đặc và béo hơn sau khi uống <span class="keyword">ngũ</span> <span class="keyword">cốc</span> lợi sữa queen nature</a></li>
								<li><a href="#">câu chuyện thương hiệu - bột <span class="keyword">ngũ</span> <span class="keyword">cốc</span> 30 hạt queen nature</a></li>
								<li><a href="#">mẹ phương thanh hồ cảm nhận sữa về đặc và béo hơn sau khi uống <span class="keyword">ngũ</span> <span class="keyword">cốc</span> lợi sữa queen nature</a></li>
								<li><a href="#">câu chuyện thương hiệu - bột <span class="keyword">ngũ</span> <span class="keyword">cốc</span> 30 hạt queen nature</a></li>
								<li><a href="#">mẹ phương thanh hồ cảm nhận sữa về đặc và béo hơn sau khi uống <span class="keyword">ngũ</span> <span class="keyword">cốc</span> lợi sữa queen nature</a></li>
								<li><a href="#">câu chuyện thương hiệu - bột <span class="keyword">ngũ</span> <span class="keyword">cốc</span> 30 hạt queen nature</a></li>
								<li><a href="#">mẹ phương thanh hồ cảm nhận sữa về đặc và béo hơn sau khi uống <span class="keyword">ngũ</span> <span class="keyword">cốc</span> lợi sữa queen nature</a></li>
								<li><a href="#">câu chuyện thương hiệu - bột <span class="keyword">ngũ</span> <span class="keyword">cốc</span> 30 hạt queen nature</a></li>
								<li><a href="#">mẹ phương thanh hồ cảm nhận sữa về đặc và béo hơn sau khi uống <span class="keyword">ngũ</span> <span class="keyword">cốc</span> lợi sữa queen nature</a></li>
								<li><a href="#">câu chuyện thương hiệu - bột <span class="keyword">ngũ</span> <span class="keyword">cốc</span> 30 hạt queen nature</a></li>
								<li><a href="#">mẹ phương thanh hồ cảm nhận sữa về đặc và béo hơn sau khi uống <span class="keyword">ngũ</span> <span class="keyword">cốc</span> lợi sữa queen nature</a></li>
								<li><a href="#">câu chuyện thương hiệu - bột <span class="keyword">ngũ</span> <span class="keyword">cốc</span> 30 hạt queen nature</a></li>
								<li><a href="#">mẹ phương thanh hồ cảm nhận sữa về đặc và béo hơn sau khi uống <span class="keyword">ngũ</span> <span class="keyword">cốc</span> lợi sữa queen nature</a></li>
								<li><a href="#">câu chuyện thương hiệu - bột <span class="keyword">ngũ</span> <span class="keyword">cốc</span> 30 hạt queen nature</a></li>
								<li><a href="#">mẹ phương thanh hồ cảm nhận sữa về đặc và béo hơn sau khi uống <span class="keyword">ngũ</span> <span class="keyword">cốc</span> lợi sữa queen nature</a></li>
								<li><a href="#">câu chuyện thương hiệu - bột <span class="keyword">ngũ</span> <span class="keyword">cốc</span> 30 hạt queen nature</a></li>
							  </ul>
							</div>
							<!-- pagination -->
							<div class="img_detail">
								<nav aria-label="Page navigation example mt-4">
								<ul class="pagination justify-content-center">
									<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1">Previous</a>
									</li>
									<li class="page-item active"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item">
									<a class="page-link" href="#">Next</a>
									</li>
								</ul>
								</nav>
							</div>
							<!-- end pagination -->
						  </div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end content main -->
		<!-- FOOTER 1 -->
		<div class="bg-wrapper position-relative pb-3">
			<div class="subcontent">
				<div class="col-12 p-0" style="background: rgb(77, 52, 36);">
					<div class="container">
						<div class="col-12">
							<div class="row">
								<div class="col-12 py-3">
									<div class="d-flex justify-content-between align-items-center" style="color: rgb(196, 182, 158);">
										<span class="text-center py-2 px-4">Hiệu quả của dịch vụ phụ thuộc vào cơ địa của mỗi người. Gửi thông tin để được tư vấn miễn phí TẠI ĐÂY!</span>
										<span><a style="color: rgb(196, 182, 158);" class="nav-link book-calendar-demand"><i class="far fa-calendar-alt"></i>&nbsp;ĐẶT LỊCH TƯ VẤN</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- FOOTER 2 -->
		<div class="bg-wrapper positiom-relative pb-3">
			<div class="wrapper">
				<div class="row">
					<div class="col-md-2">
						<img src="img/melismom.png" alt="">
					</div>
					<div class="col-md-3">
						<div class="title font-weight-bold pb-3">
							VĂN PHÒNG
						</div>
						<div class="content">
							<p class="m-0">
								77 Xã Đàn - Đống Đa - Hà Nội
							</p>
							<p class="m-0">
								SĐT: 08383.18989
							</p>
							<p class="m-0">
								Email: melisspa@gmail.com
							</p>
							<p class="m-0">
								Hotline: 03939.18686
							</p>
						</div>
					</div>
					<div class="col-md-2">
						<div class="title font-weight-bold pb-3">
							SPA TẠI HÀ NỘI
						</div>
						<div class="content">
							<p class="m-0">
								121 An Dương Vương - Tây Hồ
							</p>
							<p class="m-0">
								SĐT: 08383.18989
							</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="title font-weight-bold pb-3">
							SPA TẠI TP. HỒ CHÍ MINH
						</div>
						<div class="content">
							<p class="m-0">
								272 Nguyễn Thiện Thuật - P3 - Q3
							</p>
							<p class="m-0">
								SĐT: 08383.18989
							</p>
						</div>
					</div>
					<div class="col-md-2 text-right">
						<img src="img/melisbeaute.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- FOOTER 3 -->
		<div class="bg-wrapper position-relative pb-3" style="background: rgb(77, 52, 36);">
			<div class="position-absolute" style="left: 0; bottom: 0!important;">
				<img class="" src="img/flower-left.png" alt="">
			</div>
			<div class="wrapper">
				<div class="col-12 p-0">
					<div class="container" style="color: rgb(196, 182, 158);">
						<div class="col-12 pt-3">
							<div class="row">
								<div class="col-12">
									<form action="" class="form">
										<div class="row">
											<div class="col">
												<p class="font-weight-bold">ĐĂNG KÝ NHẬN TIN KHUYẾN MẠI</p>
												<p>Bạn sẽ luôn nhận được thông tin khuyến mãi mới và đặc biệt nhất!</p>
											</div>
											<div class="col">
												<input type="email" class="form-control p-2" style="background: rgb(227, 209, 177); color: rgb(77, 52, 36);" placeholder="Nhập email của bạn để nhận ưu đãi">
											</div>
										</div>
									</form>
								</div>
								<div class="col-12">
									<div class="row justify-content-between">
										<div class="col-6">
											@2016 Bản quyền thuộc về Melis Spa
										</div>
										<div class="col-6 text-right">
											<a style="color: rgb(196, 182, 158);" href="tel:03939.18686" class="nav-link">
					  HOTLINE TƯ VẤN: 03939.18686
					</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="position-absolute" style="right: 0; top: 0!important;">
				<img class="" src="img/flower-right.png" alt="">
			</div>
		</div>
		<!-- SOCIAL -->
		<div class="position-fixed help text-white">
			<div id="help-center" class="help-services my-1">
				<div class="position-relative">
					<div class="d-flex service position-absolute">
						<div class="svg">
							<i class="fas fa-comments"></i>
						</div>
						<div class="help-center text pr-2 row p-0 m-0 align-items-center text-service">
							<span class="">Tư vấn khách hàng</span>
						</div>
					</div>
				</div>
			</div>
			<div id="service-action" class="help-services my-1">
				<div class="position-relative">
					<div class="d-flex service position-absolute">
						<div class="svg">
							<i class="fas fa-people-arrows"></i>
						</div>
						<div class="service-action text pr-2 row p-0 m-0 align-items-center text-service">
							<span class="">Action</span>
						</div>
					</div>
				</div>
			</div>
			<div id="service-discount" class="help-services my-1">
				<div class="position-relative">
					<div class="d-flex service position-absolute">
						<div class="svg">
							<i class="fas fa-percent"></i>
						</div>
						<div class="service-discount text pr-2 row p-0 m-0 align-items-center text-service">
							<span class="">Discount</span>
						</div>
					</div>
				</div>
			</div>
			<div id="service-facebook" class="help-services my-1">
				<div class="position-relative">
					<div class="d-flex service position-absolute">
						<div class="svg">
							<i class="fab fa-facebook-f"></i>
						</div>
						<div class="service-facebook text pr-2 row p-0 m-0 align-items-center text-service">
							<span class="">Facebook</span>
						</div>
					</div>
				</div>
			</div>
			<div id="service-facebook" class="help-services my-1">
				<div class="position-relative">
					<div class="d-flex service position-absolute">
						<div class="svg">
							<i class="fab fa-youtube"></i>
						</div>
						<div class="service-facebook text pr-2 row p-0 m-0 align-items-center text-service">
							<span class="">Youtube</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- form dat lich tu van-->
		<div class="modal fade" id="modal-book-calendar-demand">
			<div class="modal-dialog modal-small">
				<div class="modal-content">
					<div class="modal-header brown_bg">
						<h5 class="modal-title text-uppercase text-white">Đặt lịch tư vấn</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="text-white">&times;</span>
						</button>
					</div>
					<form action="" method="post" class=" p-4">
						<div class="d-flex">
							<label class="p-2 d-flexprocess"> Bác sĩ tư vấn<input type="radio" name="process" value="1" id="bstvm"><span class="checkmark"></span></label>
							<label class="p-2 d-flexprocess">Thực hiện liệu trình<input type="radio" name="process" value="2" id="thltm"><span class="checkmark"></span></label>
						</div>
						<div>
							<input type="text" id="bookfullnamem" name="book[fullname]" class="form-control mb-2 input-book" placeholder="Họ và tên quý khách">
						</div>
						<div>
							<input type="text" id="bookphonem" name="book[phone]" class="form-control mb-2 input-book" placeholder="Số điện thoại">
						</div>
						<div>
							<input type="text" id="bookemailm" name="book[email]" class="form-control mb-2 input-book" placeholder="Email (nếu có)">
						</div>
						<div>
							<input type="text" id="demandm" name="book[demand]" class="form-control mb-2 input-book" placeholder="Nhu cầu">
						</div>
						<div class="d-flex">
							<div class="row col-12 p-0 m-0 justify-content-between">
								<div class="col-6 p-0 pr-1">
									<input type="datetime-local" id="booktimem" name="book[time]" class="form-control mb-2 input-book" placeholder="Lịch">
								</div>
								<div class="col-6 p-0 pl-1">
									<select name="book[branch]" id="branchm" class="form-control mb-2 input-book">
										<option value="0">Chi nhánh</option>
										<option value="SPA TẠI HÀ NỘI - 121 An Dương Vương - Tây Hồ">SPA TẠI HÀ NỘI - 121 An Dương Vương - Tây Hồ</option>
										<option value="SPA TẠI TP. HỒ CHÍ MINH - 272 Nguyễn Thiện Thuật - P3 - Q3">SPA TẠI TP. HỒ CHÍ MINH - 272 Nguyễn Thiện Thuật - P3 - Q3</option>
									</select>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-book text-uppercase" id="bookmeetm">Đặt hẹn</button>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
	</main>
	<script type="text/javascript" src="fonts/fontawesome-5.15.1/js/all.min.js"></script>
	<script type="text/javascript" src="jQuery/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/popper.min.js"></script>
	<script type="text/javascript" src="plugins/nicescroll/jquery.nicescroll.min.js"></script>
	<script type="text/javascript" src="plugins/nicescroll/jquery.nicescroll.plus.js"></script>
	<script type="text/javascript" src="plugins/nprogress/nprogress.js"></script>

	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/product.js"></script>
</body>