@charset "utf-8";
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,vietnamese);*/
*{margin:0; padding:0;}
ol, ul, li {list-style:none;}
blockquote, q {	quotes: none;}
table, table td {padding:0;border:none;border-collapse:collapse;}
.transition{-moz-transition:all 0.3s linear;-webkit-transition:all 0.5s linear;transition:all 0.3s linear;}
img{vertical-align:bottom; max-width:100%;outline:none;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;
    transition: all 0.5s;image-rendering: pixelated;}
a, a:hover, a:focus{text-decoration:none; cursor:pointer; outline:none;}
a{transition: all 0.25s ease-in-out !important;-webkit-transition: all 0.25s ease-in-out !important;-moz-transition: all 0.25s ease-in-out !important;}
.clearfix::after {content: ""; clear: both; display: table; }
.navbar-light .navbar-nav .nav-link {
    color: #573313 !important;
}
input, button, a, button:focus, a:focus {outline: none !important;}
button, a {cursor: pointer;}
.d-flexprocess {padding-left: 1.1em !important; display: block; position: relative; cursor: pointer; margin-right: 5px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.d-flexprocess input {position: absolute; opacity: 0; cursor: pointer; top: 15px; left: 0;}
.checkmark { position: absolute; top: 15px; left: 0; height: 13px; width: 13px; background-color: #ccc; border-radius: 50%; }
.d-flexprocess:hover input ~ .checkmark, .d-flexprocess input:checked ~ .checkmark { background-color: #4f3724; }
.checkmark:after { content: ""; position: absolute; display: none; }
.d-flexprocess input:checked ~ .checkmark:after { display: block; }
.d-flexprocess .checkmark:after { top: 2px; left: 2px; width: 0; height: 0; border-radius: 50%; background: white;}
.content_main {background: #c8ab89;}
.content_m {width: 86%; margin: 0 auto; background: #e3d1b1;}
.brown_bg {background: #4f3724;}
.color_white {color: white}
@media all and (min-width: 992px) {
	/*.navbar .navbar-item .dropdown-menu{ display: none; }
	.navbar .navbar-item:hover .dropdown-menu{ display: block; }*/
}
