@charset "utf-8";
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,vietnamese);*/
*{margin:0; padding:0; transition: all .1s ease;}
ol, ul, li {list-style:none;}
blockquote, q {	quotes: none;}
table, table td {padding:0;border:none;border-collapse:collapse;}
.transition{-moz-transition:all 0.3s linear;-webkit-transition:all 0.5s linear;transition:all 0.3s linear;}
img{vertical-align:bottom; max-width:100%;outline:none;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;
    transition: all 0.5s;image-rendering: pixelated;}
a, a:hover, a:focus{text-decoration:none; cursor:pointer; outline:none;}
a{transition: all 0.25s ease-in-out !important;-webkit-transition: all 0.25s ease-in-out !important;-moz-transition: all 0.25s ease-in-out !important;}
.clearfix::after {content: ""; clear: both; display: table; }
.navbar-light .navbar-nav .nav-link {
    color: #573313 !important;
}
a {color:#4f3724}
a:hover, a:focus {color: #10542b;}
input, button, a, button:focus, a:focus {outline: none !important;}
button, a {cursor: pointer;}
.d-flexprocess {padding-left: 1.1em !important; display: block; position: relative; cursor: pointer; margin-right: 5px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.d-flexprocess input {position: absolute; opacity: 0; cursor: pointer; top: 15px; left: 0;}
.checkmark { position: absolute; top: 15px; left: 0; height: 13px; width: 13px; background-color: #ccc; border-radius: 50%; }
.d-flexprocess:hover input ~ .checkmark, .d-flexprocess input:checked ~ .checkmark { background-color: #4f3724; }
.checkmark:after { content: ""; position: absolute; display: none; }
.d-flexprocess input:checked ~ .checkmark:after { display: block; }
.d-flexprocess .checkmark:after { top: 2px; left: 2px; width: 0; height: 0; border-radius: 50%; background: white;}
.content_main {background: #c8ab89;}
.content_m {width: 86%; margin: 0 auto; background: #e3d1b1;}
.subcontent {margin-left: 12%; margin-right: 12%;}
.bglime {background: #e3d1b1;}
.brown_bg {background: #4f3724;}
.color_white {color: white}
.color_light_yellow {color: #d4b284}
.color_light_white {color: #eeddaf}
.color_brown {color: #4f3724}
.nav-bg-custorm{background-color:#c8ab89!important;}
nav .navbar-item:hover, nav .navbar-item.active{background:#977c60!important;}
nav li a:hover{border:0.1px solid #583f2d!important;}
.bg-transparent{background:transparent!important;}
.infomation{padding:0 7%;background-color:#4d3424!important;background-image:url(../img/flower-left.png),url(../img/flower-right.png);background-position:top left,bottom right;background-repeat:no-repeat,no-repeat;margin:auto;}
.search::-webkit-input-placeholder{font-style:italic;color:#ccb08d;}
.search::-moz-placeholder{font-style:italic;color:#ccb08d;}
.search:-ms-input-placeholder{font-style:italic;color:#ccb08d;}
.search:-moz-placeholder{font-style:italic;color:#ccb08d;}
input.search,input.search:focus{padding-left:30px!important;border:1px solid #ccb08d;font-size:13px;}
.image-left{top:0;left:0;}
.image-right{bottom:0;right:0;}
.icon-phone{transform:rotate(-45deg);width:30px;height:30px;padding:0;border-radius:50%;border:1px solid #ccb08d;}
.icon-search{left:5px;top:50%;transform:translate(0,-50%);font-size:1em;}
.border-radius-50{border-radius:50%!important;}
.text-brown{color:#ccb08d!important;}
.bg-brown{background:#ccb08d!important;}
.w-70 {width: 70% !important}
.w-50 {width: 50% !important}
.w-80 {width: 80% !important}
.fixed_navbar {position: sticky !important; top: 0; left: 0; z-index: 99999; width: 100%; transition: all 0.25s ease-in-out !important;-webkit-transition: all 0.25s ease-in-out !important;-moz-transition: all 0.25s ease-in-out !important;}
/*.fixed_navbar .navbar {padding: 0 1rem}*/
.fixed_navbar li.lg img {margin: 0 7px}
.tooltip {display: inline;position: relative;}
.tooltip:hover:after {display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; background: #4f3724; border-radius: 8px; color: #eeddaf; content: attr(title); margin: -82px auto 0; font-size: 16px; padding: 10px; width: auto;}
.tooltip:hover:before {border: solid; border-color: #4f3724 transparent; border-width: 12px 6px 0 6px; content: ""; left: 50%; transform: translateX(-50%); bottom: 30px; position: absolute; }
#menu_language {z-index: 999999;}
@media all and (min-width: 992px) {
	/*.navbar .navbar-item .dropdown-menu{ display: none; }
	.navbar .navbar-item:hover .dropdown-menu{ display: block; }*/
}
