.keyword {font-weight: 500; font-size: 1em; color: #11552d;}
ul.search {margin: 1em; list-style-type: disc;}
ul.search li {font-size: 0.95em; padding: 0.5em 0; line-height: 1.3; list-style-type: disc; text-transform: capitalize;}