<table border="0" cellspacing="0" cellpadding="0" style="width:750px;border:2px #555555 solid">
  <tr>
    <td>
	
		<table style="width:100%; padding:0;" border="0" cellpadding="0" cellspacing="0">
		  <!--<tr>
			<td style="background:#555555; padding:10px 20px 40px;"><img src="http://www.cluboto.vn/img/{logo}" alt="Cluboto Việt Nam" width="145" /></td>
		  </tr>-->
		  <tr>
			<td style="padding: 40px 20px 40px; font:normal 14px Arial;">{dear} {first_name},
			  <br>
			  <br>
			  <strong>{camondkxe}</strong> <br /><br />
              {chaomungdkx}<br />
              {kkddk}<br />
              {matkhau} {password}<br /><br />
              {gnum}: {gnumber}<br /><br />
              {linkdn}<br />
              <i><a href="http://www.cluboto.vn/login.html">http://www.cluboto.vn/login.html</a></i><br /><br />
              {trantrong}<br />
              {cluboto}<br /><br /><br />
              <img src="http://www.cluboto.vn/img/logo_en.png" alt="Cluboto Việt Nam" width="145" />
		  </tr>
		</table>
	
	</td>
  </tr>
</table>