<table border="0" cellspacing="0" cellpadding="0" style="width:750px;border:2px #555555 solid">
  <tr>
    <td>
	
		<table style="width:100%; padding:0;" border="0" cellpadding="0" cellspacing="0">
		  <!--<tr>
			<td style="background:#555555; padding:10px 20px 40px;"><img src="http://www.cluboto.vn/img/{logo}" alt="Cluboto Việt Nam" width="145" /></td>
		  </tr>-->
		  <tr>
			<td style="padding: 40px 20px 40px; font:normal 14px Arial;">{dear} {first_name},
			  <br>
			  <br>
			  <strong>{receiverequest}</strong> <br /><br />
              {ifyoumade}<br /><br />
              <a href="http://www.cluboto.vn/reset-password/{userid}" style="background: #f8cc6b;color:#333;padding:10px 15px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;text-decoration:none;"><strong>{titleforgotpass}</strong></a><br /><br />
              {oruselink}<br /><br />
              <a href="http://www.cluboto.vn/reset-password/{userid}">http://www.cluboto.vn/reset-password/{userid}</a><br /><br />
              {ifyouget}<br /><br />
              {trantrong}<br />
              {cluboto}<br /><br /><br />
              <img src="http://www.cluboto.vn/img/logo_en.png" alt="Cluboto Việt Nam" width="145" />
		  </tr>
		</table>
	
	</td>
  </tr>
</table>