<table border="0" cellspacing="0" cellpadding="0" style="width:750px;border:2px #555555 solid">
  <tr>
    <td>
	
		<table style="width:100%; padding:0;" border="0" cellpadding="0" cellspacing="0">
		  <!--<tr>
			<td style="background:#555555; padding:10px 20px 40px;"><img src="http://www.cluboto.vn/img/{logo}" alt="Cluboto Việt Nam" width="145" /></td>
		  </tr>-->
		  <tr>
			<td style="padding: 40px 20px 40px; font:normal 14px Arial;">Dear Hoai Pham,
			  <br>
			  <br>
			  <strong>Cam on da test mai</strong> <br /><br />
              
		  </tr>
		</table>
	
	</td>
  </tr>
</table>